autocorrect==2.5.0
backports.zoneinfo==0.2.1
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
datefinder-lexpredict==0.6.2.1
dateparser==0.7.2
docopt==0.6.2
elasticsearch==7.12.0
fuzzywuzzy==0.18.0
gensim==3.8.3
idna==2.10
importlib-metadata==4.8.1
importlib-resources==5.2.2
inexactsearch==1.0.2
jellyfish==0.6.1
joblib==0.14.0
lexnlp==1.8.0
nltk==3.5
num2words==0.5.10
numpy==1.19.1
pandas==0.24.2
pycountry==20.7.3
python-dateutil==2.8.2
pytz==2021.1
recordlinkage==0.14
regex==2020.7.14
reporters-db==2.0.3
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.1
silpa-common==0.3
six==1.16.0
smart-open==5.2.1
soundex==1.1.3
spellchecker==0.4
threadpoolctl==2.2.0
tqdm==4.62.2
typing-extensions==3.10.0.2
tzlocal==3.0
Unidecode==1.1.1
urllib3==1.25.11
us==2.0.2
zipp==3.5.0


backports.zoneinfo==0.2.1
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///tmp/build/80754af9/cffi_1625814693874/work
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.0.1
cryptography @ file:///tmp/build/80754af9/cryptography_1616769282133/work
datefinder-lexpredict==0.6.2.1
dateparser==0.7.2
docopt==0.6.2
elasticsearch==7.12.0
fuzzywuzzy==0.18.0
gensim==3.8.3
idna==2.10
importlib-metadata==4.8.1
importlib-resources==5.2.2
jellyfish==0.6.1
joblib==0.14.0
lexnlp==1.8.0
nltk==3.5
num2words==0.5.10
numpy==1.19.1
pandas==0.24.2
pycountry==20.7.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305763431/work
python-dateutil==2.8.2
pytz==2021.1
regex==2020.7.14
reporters-db==2.0.3
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
smart-open==5.2.1
threadpoolctl==2.2.0
tqdm==4.62.2
typing-extensions==3.10.0.2
tzlocal==3.0
Unidecode==1.1.1
urllib3==1.25.11
us==2.0.2
zipp==3.5.0
